<h1>Searching for - <% @search_term %></h1>

<table border="1">
	<tr>
	 <th>Image</th>
	 <th>Name</th>
	 <th>Description</th>
	</tr>
	<% Courses.each do |course| %>
	<tr>
		<tr>
			<td><%= image_tag(course["smallIcon"])%></td>
			<td><%= course["name"]%></td>
			<td><%= course["shortDescription"]%></td>
		</tr>
	</tr>
	<% end %>
</table>